<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assinatura Premium</title>
    <link rel="stylesheet" href="/css/assinar.css">
</head>
<body>
    <form id="formulario">
        <h1>Assinatura Premium</h1>
        <label for="campoNome">Nome:</label>
        <input type="text" id="campoNome" placeholder="Digite o seu nome">
    
        <label for="campoEmail">Email:</label>
        <input type="email" id="campoEmail" placeholder="Digite seu email">
    
        <label for="campoSenha">Senha:</label>
        <input type="password" id="campoSenha" placeholder="Digite sua senha">
    
        <label>Assinatura:</label>
        <div class="opcoes-assinatura">
            <input type="radio" name="assinado" id="opcao1">
            <label for="opcao1">Assinatura 1</label>
    
            <input type="radio" name="assinado" id="opcao2">
            <label for="opcao2">Assinatura 2</label>
    
            <input type="radio" name="assinado" id="opcao3">
            <label for="opcao3">Assinatura 3</label>
        </div>
    
        <div class="botoes">
            <button type="button" onclick="irParaCheckout()">Enviar</button>
            <button type="reset">Limpar</button>
        </div>
    </form>

    <script src="/js/assinar.js"></script>
</body>
</html>
