<!DOCTYPE html>
<html lang="pt-Br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech-Day</title>
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <div class="container">
        <div class="navbar">
            <div class="logo-container">
                <h1 class="logo">Tech-Day</h1>
            </div>
            <ul class="itens-nav">
                <li class="item-nav">Home</li>
                <li class="item-nav">Notícias</li>
                <li class="item-nav">Assinar</li>
                <li class="item-nav">Login</li>
            </ul>
        </div>
        <div class="main">
            <h2>Postagens Recentes</h2>
        </div>
    </div>
</body>
</html>