<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="navbar">
            <div class="logo-container">
                <h1 class="logo">Tech-Day</h1>
            </div>
            <ul class="itens-nav">
                <li class="item-nav">Home</li>
                <li class="item-nav">Notícias</li>
                <li class="item-nav">Assinar</li>
                <li class="item-nav">Login</li>
        </div>
    </div>
</body>
</html>