<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/noticias.css">
</head>
<body class="body">
    <div class="container">
        <h1>Notícias</h1>
        <p>encontre as notícias mais rentáveis de tecnologia</p>
        <div class="inner-container">
            <p>lelelele</p>
            <img src="\image\pytho.png" alt="python para analise de dados">
        </div>
    </div>
</body>
</html>